<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.speektool">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT"/>
    <!-- BLE璁惧闇€瑕佹潈闄?-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 鎷撴€濆痉 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".SpeekToolApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.UserFMActivity"
            android:screenOrientation="portrait"/>
        <!--  用户界面  -->
        <activity android:name=".activity.WebActivity"/>
        <!--  网页 -->
        <!--  编辑界面  -->
        <activity
            android:name=".activity.DrawActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <!--  本地视频播放界面 -->
        <activity
            android:name=".activity.PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <!--  Url视频播放界面 -->
        <activity
            android:name=".activity.PlayUrlVideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <!--  ******************************** 服务  ************************************* -->
        <!--  添加BLE数码笔蓝牙服务 -->
        <service
            android:name="com.smart.pen.core.services.SmartPenService"
            android:enabled="true">

            <intent-filter android:priority="10000">
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </service>
        <!--  添加USB OTG数码笔服务 -->
        <service
            android:name="com.smart.pen.core.services.UsbPenService"
            android:enabled="true"/>
        <service
            android:name=".service.PlayService"
            android:enabled="true"
            android:exported="false"
            android:process=":play"/>
        <service
            android:name=".service.KeepAliveService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".service.ErrorService"
            android:enabled="true"
            android:exported="false"
            android:process=":error"/>
    </application>

</manifest>